/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -20px;
    background-color: #FFC200;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 45px;
    border-radius: 25px;
}

/* The navigation menu links */
.sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Arial";
    color: white;
    display: block;
    text-align: center;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #FD3C3C;
}

.sidenav h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Arial";
    color: white;
    display: block;
    text-align: center;
}

