body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {box-sizing: border-box}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.bar-bottom {
  margin-left: 150px;
  position: fixed;
  bottom: 0;
  width: 90%;
  background-color: #000;
  overflow: auto;
}

.bar-bottom a {
  float: left;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.3%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */

}

.bar-bottom a.active {
  background-color: green;
}

.bar-bottom a:hover {
  background-color: green;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h2 {
  font-family: "Comic Sans MS";
}
.title {
  margin-left: 160px; /* Same as the width of the sidebar */
  font-family: "Comic Sans MS";
  padding: 0px 10px;
  text-align: center;
}

.content {
  margin-left: 160px;
  padding: 0px 60px;
  text-align: left;
}

.boxes {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #138D90;
}

.boxes button {
  float: right;
  background-color: #FFB74C;
  border: none;
  height: 30px;
  width: 100px;
}

.boxes button:hover {
  background-color: #5CC5EF;
  color: white;
}

.content table, th, td {

  border-width: 1.5px;
  border-style: double;
  border-color: black;
  border-collapse: collapse;
  background-color:  #138D90;

}

.content td, th {
  padding: 15px 25px;

}

.content th {
  text-align: left;
}

.content iframe {
  float: initial;

}

td.date {
  width: 20%;
  text-align: left;
}
body {
  /*background-image: url("Checkerboard_pattern.svg");*/
}




