.contentMember h3 {
    text-align: center;
    padding-top: 100px;
    font-family: "Arial";
    font-size: 40px;
    color: #707070
}
.contentMember input {
    text-align: center;
    display: block;
    border-radius: 50px;
    font-size: 15px;
    padding: 15px;
    margin: auto;
    margin-bottom: 15px;
    width: 300px;
    background-color: #f5f5f5;
    border-style: hidden;
}
.contentMember button {
    margin: auto;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 15px;
    padding: 15px;
    width: 300px;
    text-align: center;
    display: block;
    background-color: #0ec7c6;
    color: #ffffff;
    border-style: hidden;
}
.memberNo button {
    background-color: white;
    color: #0ec7c6;
    border-color: #0ec7c6;
    border-style: solid;
}